{% extends 'base.html.twig' %}

{% block title %}Mon compte
{% endblock %}

{% block body %}
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">Mes informations de compte.</h1>

		</div>
	</div>
	<div class="bdr-login w-50 mx-auto mb-5">
		<div class="m-4 text-center">
        {% if updatemessage is defined%}
        <h1>{{ updatemessage }}</h1>
        {% endif %}
            {{ form_start(form) }}
			<div class="form">
				
				{{ form_errors(form.email) }}
			
				
				<div class="row">
					<div class="col-6 mb-3 mt-3">
						{{ form_widget(form.FirstName, {'attr':
                        {
                        'placeholder' : "Nom",
						'class': 'form_css'
                        }
                    }) 
                }}
					</div>
					<div class="col-6 mb-3 mt-3">
						{{ form_widget(form.LastName, {'attr':
                        {
                        'placeholder' : "Prénom",
						'class' : 'form_css'
                        }
                    }) 
                }}
					</div>
					<div class="col-6 mb-3">
						{{ form_widget(form.password.first, {'attr':
                        {
                        'placeholder' : "Mot de passe",
						'class' : 'form_css'
                        }
                    	}) 
                	}}
					{{ form_errors(form.password.first) }}
					</div>
					<div class="col-6 mb-3">
						{{ form_widget(form.password.second, {'attr':
                        {
                        'placeholder' : "Confirmez le mot de passe",
						'class' : 'form_css'
                        }
                    }) 
                }}
					</div>
					<div class="col-6 mb-3">
						{{ form_widget(form.email, {'attr':
                    {
                    'placeholder' : "Email",
					'class' : 'form_css'
                    }
                }) 
            }}
					</div>
					<div class="col-6 mb-3 mt-3">
						{{ form_widget(form.phoneNum, {'attr':
                            {
                            'placeholder' : "Téléphone",
							'class' : 'form_css'
                            }
                        }) 
                    }}
					</div>
				</div>
				<div class="row row-cols-1">
					<div class="col-6 mb-3">
							{{ form_widget(form.street, {'attr':
						{
						'placeholder' : "Addresse",
						'class' : 'form_css'
						
						}
					}) 
				}}
					</div>
					<div class="col-6 mb-3">
							{{ form_widget(form.postalcode, {'attr':
						{
						'placeholder' : "Code Postal",
						'class' : 'form_css'
						}
					}) 
				}}
						</div>
						<div class="col-6 mb-3">
							{{ form_widget(form.country, {'attr':
						{
						'placeholder' : "Pays",
						'class' : 'form_css'
						}
					}) 
				}}
						</div>
					</div>
					<button type="submit" class="btn btn-dark btn-lg mt-4">
						Mettre à jour
					</button>
				
			</div>

			{{ form_end(form) }}
		</div>
	</div>

{% endblock %}