{% extends 'base.html.twig' %}

{% block title %}Mon compte
{% endblock %}

{% block body %}
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">Mon compte</h1>

		</div>
	</div>
	<div class="containeracc" >
		
			<div class="left-element " >
			<button class="btn-acc float-right Toright" onclick="ShowInfos()">Mes informations ></button>
			<button class="btn-acc float-right Toright" onclick="ShowAddress()">Mon addresse ></button>
			<button class="btn-acc float-right Toright" onclick="ShowOrders()">Mes commandes ></button>
			</div >




			<div class="right-element" id="infos"> 
				<div class="error-msg">
					{% if error_edit is not empty %}
					<p>{{ error_edit }}</p>
					{% endif %}
				</div>
				<h4><strong>Mes informations de compte</strong></h4>
				<hr class="line">

				<h4 class="acc-edit">Prenom:  </h4>
				<h4 class="acc-edit" id="FN">{{app.user.FirstName}}</h4>
				<form id="FNI" style="display:none" action="{{path('security_account')}}" method="post">
					<input class=" form_css_acc" value ="{{app.user.FirstName}}" type="text" name="FN" />
				</form>
				<div class="acc-edit text-right ">
					<button class="btn acc-edit-btn" onclick="FNEdit();"><i  class="fa fa-edit " ></i></button>
				</div>

				
				<hr class="diviser">

				<h4 class="acc-edit">Nom:</h4>
				<h4 class="acc-edit" id="LN">{{app.user.LastName}}</h4>
				<form id="LNI" style="display:none" action="{{path('security_account')}}" method="post">
				<input class="form_css_acc" value = "{{app.user.LastName}}" type="text"  name="LN" />
				</form>
				<div class="acc-edit text-right ">
				<button class="btn acc-edit-btn" onclick="LNEdit();">
				<i  class="fa fa-edit " ></i>
				</button></div>

				<hr class="diviser" />

				<h4 class="acc-edit">Email:</h4>
				<h4 class="acc-edit" id="E">{{app.user.email}}</h4>
				<form id="EI" style="display:none" action="{{path('security_account')}}" method="post">
				<input class="form_css_acc" value = "{{app.user.email}}" type="text"  name="E" />
				</form>
				<div class="acc-edit text-right ">
				<button class="btn acc-edit-btn" onclick="EEdit();">
				<i  class="fa fa-edit " ></i>
				</button></div>

				<hr class="diviser" />

				<h4 class="acc-edit">Telephone:</h4>
				<h4 class="acc-edit" id="PN">{{app.user.phoneNum}}</h4>
				<form id="PNI" style="display:none" action="{{path('security_account')}}" method="post">
				<input class="form_css_acc" value = "{{app.user.phoneNum}}" type="text"  name="PN" />
				</form>
				<div class="acc-edit text-right ">
				<button class="btn acc-edit-btn" onclick="PNEdit();">
				<i  class="fa fa-edit " ></i>
				</button></div>

				<hr class="diviser" />

				<button class="btn btn-dark " id="edit" onclick="ShowPass()" style="margin-bottom:20px">Modifier mon mot de passe</button>
			</div>	

			<div class="right-element" style="display:none; " id="pass">
				<div >
					<form action="{{path('security_account')}}" method="post" >
					<input class="form_css" placeholder = "Mot de passe actuel" type="password" name="CurrentPass" style="margin-bottom: 15px"/>
					<input class="form_css" placeholder = "Nouveau mot de passe" type="password" name="NewPass" style="margin-bottom: 15px"/>
					<input class="form_css" placeholder = "Confirmez votre mot de passe" type="password" name="ConfirmPass" style="margin-bottom: 15px" />
					<button type="submit" class="btn btn-dark " id="btn" style="display:block ; width: 200px; margin-bottom: 10px">Mettre à jour</button>
					<button class="btn btn-dark " id="btn" onclick="ShowPass()" style="display:block; width: 200px">Annuler</button>
					</form>
				</div>
			</div>


			<div class="right-element" style="display:none" id="orders">
				<div class="container">
					<table class="table">
					<thead >
						<tr>
						<th scope="col">#</th>
						<th scope="col">Produits</th>
						<th scope="col">Status</th>
						<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
					{% for order in orders %}
						<tr>
						<th>{{order.id}}</th>
						<th>
						{% for key,product in order.HasProduct %}
						{{product.ProductName}}({{order.quantity[key]}})
							{% if product.id < order.HasProduct|length %},{% else %}.{% endif %}
						{% endfor %}
						</th>
						<th>
						{% for key, quantity in order.quantity %}
							{{quantity}}
							{% if key < (quantity|length - 1) %}{% else %}.{% endif %}
						{% endfor %}
						
						</th>

						
						<td>{{order.status}}</td>
						<td><a href="{{path('order_detail',{'id' : order.id})}}" class="btn" id="button">Voir la commande</td>
						</tr>
					{% endfor %}
					</tbody>
					</table>
				</div>	
			</div>

			<div class="right-element" style="display:none" id="address"> 
			<h4><strong>Mon adresse</strong></h4>

			<hr class="diviser" />

			<h4 class="acc-edit">Rue:</h4>
			<h4 class="acc-edit" id="S">{{app.user.street}}</h4>
			<form id="SI" style="display:none" action="{{path('security_account')}}" method="post">
			<input class="form_css_acc" value = "{{app.user.street}}" type="text"  name="S" />
			</form>
			<div class="acc-edit text-right ">
			<button class="btn acc-edit-btn" onclick="SEdit();">
			<i  class="fa fa-edit " ></i>
			</button></div>

			<hr class="diviser" />

			<h4 class="acc-edit">Code Postal:</h4>
			<h4 class="acc-edit" id="CP">{{app.user.postalCode}}</h4>
			<form id="CPI" style="display:none" action="{{path('security_account')}}" method="post">
			<input class="form_css_acc" value = "{{app.user.postalCode}}" type="text"  name="CP" />
			</form>
			<div class="acc-edit text-right ">
			<button class="btn acc-edit-btn" onclick="CPEdit();">
			<i  class="fa fa-edit " ></i>
			</button></div>

				<hr class="diviser" />

			<h4 class="acc-edit">Pays:</h4>
			<h4 class="acc-edit" id="C">{{app.user.country}}</h4>
			<form id="CI" style="display:none" action="{{path('security_account')}}" method="post">
			<input class="form_css_acc" value = "{{app.user.country}}" type="text"  name="C" />
			</form>
			<div class="acc-edit text-right ">
			<button class="btn acc-edit-btn" onclick="CEdit();">
			<i  class="fa fa-edit " ></i>
			</button></div>

			<hr class="diviser" />

			</div>






	</div>
		
<script src="{{asset('js/account.js')}}"></script>
{% endblock %}