{% extends 'base.html.twig' %}

{% block title %}{% trans %}Mon compte{% endtrans %}
{% endblock %}

{% block body %}
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="h1-respons">{% trans %}Mon compte{% endtrans %}</h1>
		</div>
	</div>
	{% if error_edit is not empty %}
	<div class="alert alert-danger text-center"  style="width:75%; margin: 20px auto;">
		<p>{{ error_edit }}</p>
	</div>
	{% endif %}
<div class="container width-responsive justify-account">
	<div class="row">
			<div class="col-xl-4 col-md-12 mx-auto mb-3 text-center">
				<div style="margin: 0 auto; width: auto;">
					<button class="sbtn btn-acc Toright text-center" onclick="ShowInfos()">{% trans %}Mes informations{% endtrans %}</button>
					<button class="sbtn btn-acc Toright text-center" onclick="ShowAddress()">{% trans %}Mon adresse{% endtrans %}</button>
					<button class="sbtn btn-acc Toright text-center" onclick="ShowOrders()">{% trans %}Mes commandes{% endtrans %}</button>
				</div>
			</div>

			<div class="col-xl-8 col-md-12">
				<div class="" id="infos"> 
					
					<h4><strong>{% trans %}Mes informations de compte{% endtrans %}</strong></h4>
					<hr class="line">

					<h4 class="acc-edit h4-respons">{% trans %}Prénom{% endtrans %}:  </h4>
					<h4 class="acc-edit h4-respons" id="FN">{{app.user.FirstName}}</h4>
					<form id="FNI" style="display:none" action="{{path('security_account')}}" method="post">
						<input class=" form_css_acc" value ="{{app.user.FirstName}}" type="text" name="FN" />
					</form>
					<div class="acc-edit text-right ">
						<button class="sbtn btn acc-edit-btn" onclick="FNEdit();"><i  class="fa fa-edit " ></i></button>
					</div>

					
					<hr class="diviser">

					<h4 class="acc-edit h4-respons">{% trans %}Nom{% endtrans %}:</h4>
					<h4 class="acc-edit h4-respons" id="LN">{{app.user.LastName}}</h4>
					<form id="LNI" style="display:none" action="{{path('security_account')}}" method="post">
					<input class="form_css_acc" value = "{{app.user.LastName}}" type="text"  name="LN" />
					</form>
					<div class="acc-edit text-right ">
						<button class="btn acc-edit-btn" onclick="LNEdit();"><i  class="fa fa-edit " ></i></button>
					</div>

					<hr class="diviser">

					<h4 class="acc-edit h4-respons">{% trans %}Adresse Email{% endtrans %}:</h4>
					<h4 class="acc-edit h4-respons" id="E">{{app.user.email}}</h4>
					<form id="EI" style="display:none" action="{{path('security_account')}}" method="post">
					<input class="form_css_acc" value = "{{app.user.email}}" type="text"  name="E" />
					</form>
					<div class="acc-edit text-right ">
						<button class="btn acc-edit-btn" onclick="EEdit();"><i  class="fa fa-edit " ></i></button>
					</div>

					<hr class="diviser">

					<h4 class="acc-edit h4-respons">{% trans %}Numéro de téléphone{% endtrans %}:</h4>
					<h4 class="acc-edit h4-respons" id="PN">{{app.user.phoneNum}}</h4>
					<form id="PNI" style="display:none" action="{{path('security_account')}}" method="post">
					<input class="form_css_acc" value = "{{app.user.phoneNum}}" type="text"  name="PN" />
					</form>
					<div class="acc-edit text-right ">
						<button class="btn acc-edit-btn" onclick="PNEdit();"><i  class="fa fa-edit " ></i></button>
					</div>

					<hr class="diviser">

					<button class="btn btn_form_css" id="edit" onclick="ShowPass()" style="margin-bottom:20px">{% trans %}Modifier mon mot de passe{% endtrans %}</button>
				</div>	

				<div style="display:none; text-align:center" id="pass">
					<div >
						<form action="{{path('security_account')}}" method="post" >
						<input class="form_css" placeholder = "{% trans %}Mot de passe actuel{% endtrans %}" type="password" name="CurrentPass" style="margin-bottom: 15px;"/><br>
						<input class="form_css" placeholder = "{% trans %}Nouveau mot de passe{% endtrans %}" type="password" name="NewPass" style="margin-bottom: 15px;"/><br>
						<input class="form_css" placeholder = "{% trans %}Confirmez votre mot de passe{% endtrans %}" type="password" name="ConfirmPass" style="margin-bottom: 15px;" />
						<button type="submit" class="btn btn_form_css" style="display:block ; width: 200px; ; margin: 15px auto">{% trans %}Mettre à jour{% endtrans %}</button>
						<button class="btn btn_form_css " onclick="ShowPass()" style="display:block; width: 200px; margin: 0 auto">{% trans %}Annuler{% endtrans %}</button>
						</form>
					</div>
				</div>


				<div class="" id="orders" style="display:none">
					<div class="container" style="overflow-x:auto;">
						<table class="table">
						<thead >
							<tr>
							<th scope="col">#</th>
							<th scope="col">{% trans %}Produits{% endtrans %}</th>
							<th scope="col">{% trans %}Status{% endtrans %}</th>
							<th scope="col">{% trans %}Action{% endtrans %}</th>
							</tr>
						</thead>
						<tbody>
						{% for order in orders %}
							<tr>
							<th>{{order.id}}</th>
							<th>
							{% for key,product in order.HasProduct %}
							{{product.ProductName}}({{order.quantity[key]}})
								{% if product.id < order.HasProduct|length %},{% else %}.{% endif %}
							{% endfor %}
							</th>
							

							
							<td>{{order.status}}</td>
							<td><a href="{{path('order_detail',{'id' : order.id})}}" class="btn" id="button">{% trans %}Voir la commande{% endtrans %}</td>
							</tr>
						{% endfor %}
						</tbody>
						</table>
					</div>	
				</div>

				<div class="" id="address" style="display: none;"> 
					<h4 class="h4-respons"><strong>{% trans %}Mon adresse{% endtrans %}</strong></h4>

					<hr class="diviser">

					<h4 class="acc-edit h4-respons">{% trans %}Rue{% endtrans %}:</h4>
					<h4 class="acc-edit h4-respons" id="S">{{app.user.street}}</h4>
					<form id="SI" style="display:none" action="{{path('security_account')}}" method="post">
					<input class="form_css_acc" value = "{{app.user.street}}" type="text"  name="S" />
					</form>
					<div class="acc-edit text-right ">
						<button class="btn acc-edit-btn" onclick="SEdit();">
						<i  class="fa fa-edit " ></i>
						</button>
					</div>

					<hr class="diviser">

					<h4 class="acc-edit h4-respons">{% trans %}Code Postal{% endtrans %}:</h4>
					<h4 class="acc-edit h4-respons" id="CP">{{app.user.postalCode}}</h4>
					<form id="CPI" style="display:none" action="{{path('security_account')}}" method="post">
					<input class="form_css_acc" value = "{{app.user.postalCode}}" type="text"  name="CP" />
					</form>
					<div class="acc-edit text-right ">
						<button class="btn acc-edit-btn" onclick="CPEdit();">
						<i  class="fa fa-edit " ></i>
						</button>
					</div>

					<hr class="diviser">

					<h4 class="acc-edit h4-respons">{% trans %}Pays{% endtrans %}:</h4>
					<h4 class="acc-edit h4-respons" id="C">{{app.user.country}}</h4>
					<form id="CI" style="display:none" action="{{path('security_account')}}" method="post">
					<input class="form_css_acc" value = "{{app.user.country}}" type="text"  name="C" />
					</form>
					<div class="acc-edit text-right ">
						<button class="btn acc-edit-btn" onclick="CEdit();">
						<i  class="fa fa-edit " ></i>
					</button>
					</div>

					<hr class="diviser">
				</div>
			</div>
	</div>
</div>
<script src="{{asset('js/account.js')}}"></script>
{% endblock %}