{% extends 'base.html.twig' %}

{% block title %}{% trans %}Inscrivez-vous{% endtrans %}
{% endblock %}

{% block body %}
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">{% trans %}Inscrivez-vous{% endtrans %}</h1>
		</div>
	</div>
	<div class="bdr-login mx-auto mb-5">
		<div class="text-center">
			{{ form_start(form) }}

			
			{% if form_errors(form.FirstName) or form_errors(form.LastName) or form_errors(form.password.first) or form_errors(form.email) or form_errors(form.phoneNum) or form_errors(form.postalcode) or form_errors(form) %}
				<div class="alert alert-danger text-center" >
				{{ form_errors(form.FirstName) }}
				{{ form_errors(form.LastName) }}
				{{ form_errors(form.email) }}
				{{ form_errors(form.password.first) }}
				{{ form_errors(form.password.second) }}
				{{ form_errors(form.phoneNum) }}
				{{ form_errors(form.postalcode) }}
				{{ form_errors(form) }}
				</div>
			{% endif %}	

		
			<h4>Inscrivez-vous</h4>
			<div class="form">
				<div class="container">
				<div class="row">
					<div class="col-xl-6 col-md-12 mb-3 mt-3">
						{{ form_widget(form.FirstName, {'attr':
                        {
						'class' : 'form_css',
                        'placeholder' : 'Prénom'|trans
                        }
                    }) 
                }}
					</div>
					<div class="col-xl-6 col-md-12 mb-3 mt-3">
						{{ form_widget(form.LastName, {'attr':
                        {
						'class' : 'form_css',
                        'placeholder' : 'Nom'|trans
                        }
                    }) 
                }}
					</div>
					<div class="col-xl-6 col-md-12 mb-3">
						{{ form_widget(form.password.first, {'attr':
                        {
						'class' : 'form_css',
                        'placeholder' : 'Mot de passe'|trans
                        }
                    	}) 
                	}}
					</div>
					<div class="col-xl-6 col-md-12 mb-3">
						{{ form_widget(form.password.second, {'attr':
                        {
						'class' : 'form_css',
                        'placeholder' : 'Confirmez le mot de passe'|trans
                        }
                    }) 
                }}
					</div>
					<div class="col-xl-6 col-md-12 mb-3">
						{{ form_widget(form.email, {'attr':
                    {
					'class' : 'form_css',
                    'placeholder' : 'Adresse Email'|trans
                    }
                }) 
            }}
					</div>
					<div class="col-xl-6 col-md-12 mb-3">
						{{ form_widget(form.phoneNum, {'attr':
                            {
							'class' : 'form_css',
                            'placeholder' : 'Téléphone | +33 x xx xx xx xx'|trans
                            }
                        }) 
                    }}
					</div>
				</div>

				<div class="row row-cols-1">
					<div class="col-xl-6 col-md-12 mb-3">
							{{ form_widget(form.street, {'attr':
						{
						'class' : 'form_css',
						'placeholder' : 'Adresse'|trans
						}
					}) 
				}}
					</div>
					<div class="col-xl-6 col-md-12 mb-3">
							{{ form_widget(form.postalcode, {'attr':
						{
						'class' : 'form_css',
						'placeholder' : 'Code Postal'|trans
						}
					}) 
				}}
					</div>
					<div class="col-xl-6 col-md-12 mb-3">
							{{ form_widget(form.country, {'attr':
						{
						'class' : 'form_css',
						'placeholder' :'Pays'|trans
						}
					}) 
				}}
					</div>
				</div>
				</div>

				<button type="submit" class="btn btn_form_css btn-lg mt-4">
					{% trans %}S'inscrire{% endtrans %}
				</button>
			</div>

			<div class="mt-4">
				<span class="meta">{% trans %}Vos comptes avez déja un compte ?{% endtrans %}
				</span>
				<br/>
				<a href="{{path('security_login')}}"  id="text">{% trans %}Connectez-vous{% endtrans %}</a>
			</div>
			
			{{ form_end(form) }}
		</div>
	</div>

{% endblock %}