{% extends 'base.html.twig' %}

{% block title %}Inscrivez-vous
{% endblock %}

{% block body %}
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">Inscrivez-vous</h1>
		</div>
	</div>
	<div class="bdr-login w-50 mx-auto mb-5">
		<div class="m-4 text-center">
			{{ form_start(form) }}

			
			{% if form_errors(form.FirstName) or form_errors(form.LastName) or form_errors(form.password.first) or form_errors(form.email) or form_errors(form.phoneNum) or form_errors(form.postalcode) or form_errors(form) %}
				<div class="alert alert-danger text-center" >
				{{ form_errors(form.FirstName) }}
				{{ form_errors(form.LastName) }}
				{{ form_errors(form.email) }}
				{{ form_errors(form.password.first) }}
				{{ form_errors(form.password.second) }}
				{{ form_errors(form.phoneNum) }}
				{{ form_errors(form.postalcode) }}
				{{ form_errors(form) }}
				</div>
			{% endif %}

			
			

			
			<h4>Inscrivez-vous</h4>
			<div class="form">
				<div class="container">
				<div class="row">
					<div class="col-6 mb-3 mt-3">
						{{ form_widget(form.FirstName, {'attr':
                        {
						'class' : 'form_css',
                        'placeholder' : "Prénom"
                        }
                    }) 
                }}
					</div>
					<div class="col-6 mb-3 mt-3">
						{{ form_widget(form.LastName, {'attr':
                        {
						'class' : 'form_css',
                        'placeholder' : "Nom"
                        }
                    }) 
                }}
					</div>
					<div class="col-6 mb-3">
						{{ form_widget(form.password.first, {'attr':
                        {
						'class' : 'form_css',
                        'placeholder' : "Mot de passe"
                        }
                    	}) 
                	}}
					</div>
					<div class="col-6 mb-3">
						{{ form_widget(form.password.second, {'attr':
                        {
						'class' : 'form_css',
                        'placeholder' : "Confirmez le mot de passe"
                        }
                    }) 
                }}
					</div>
					<div class="col-6 mb-3">
						{{ form_widget(form.email, {'attr':
                    {
					'class' : 'form_css',
                    'placeholder' : "Email"
                    }
                }) 
            }}
					</div>
					<div class="col-6 mb-3">
						{{ form_widget(form.phoneNum, {'attr':
                            {
							'class' : 'form_css',
                            'placeholder' : "Téléphone | +33 x xx xx xx xx"
                            }
                        }) 
                    }}
					</div>
				</div>

				<div class="row row-cols-1">
					<div class="col-6 mb-3">
							{{ form_widget(form.street, {'attr':
						{
						'class' : 'form_css',
						'placeholder' : "Adresse"
						}
					}) 
				}}
					</div>
					<div class="col-6 mb-3">
							{{ form_widget(form.postalcode, {'attr':
						{
						'class' : 'form_css',
						'placeholder' : "Code Postal"
						}
					}) 
				}}
					</div>
					<div class="col-6 mb-3">
							{{ form_widget(form.country, {'attr':
						{
						'class' : 'form_css',
						'placeholder' : "Pays"
						}
					}) 
				}}
					</div>
				</div>
				</div>

				<button type="submit" class="btn btn_form_css btn-lg mt-4">
					S'inscrire
				</button>
			</div>

			<div class="mt-4">
				<span class="meta">Vos comptes avez déja un compte ?
				</span>
				<br/>
				<a href="{{path('security_login')}}"  id="text">Connectez-vous</a>
			</div>
			
			{{ form_end(form) }}
		</div>
	</div>

{% endblock %}