{% extends 'base.html.twig' %}

{% block title %}Inscrivez-vous
{% endblock %}

{% block body %}
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">Inscrivez vous pour pouvoir commander.</h1>

		</div>
	</div>
	<div class="bdr-login w-50 mx-auto mb-5">
		<div class="m-4 text-center">

			<p class="size-text">Inscrivez-vous</p>
			
			{{ form_start(form) }}
			
			<div class="form">
				
				{{ form_errors(form.email) }}
			
				
				<div class="row">
					<div class="col-6 mb-3 mt-3">
						{{ form_widget(form.FirstName, {'attr':
                        {
						'class' : 'form_css',
                        'placeholder' : "Nom"
                        }
                    }) 
                }}
					</div>
					<div class="col-6 mb-3 mt-3">
						{{ form_widget(form.LastName, {'attr':
                        {
						'class' : 'form_css',
                        'placeholder' : "Prénom"
                        }
                    }) 
                }}
					</div>
					<div class="col-6 mb-3">
						{{ form_widget(form.password.first, {'attr':
                        {
						'class' : 'form_css',
                        'placeholder' : "Mot de passe"
                        }
                    	}) 
                	}}
					{{ form_errors(form.password.first) }}
					</div>
					<div class="col-6 mb-3">
						{{ form_widget(form.password.second, {'attr':
                        {
						'class' : 'form_css',
                        'placeholder' : "Confirmez le mot de passe"
                        }
                    }) 
                }}
					</div>
					<div class="col-6 mb-3">
						{{ form_widget(form.email, {'attr':
                    {
					'class' : 'form_css',
                    'placeholder' : "Email"
                    }
                }) 
            }}
					</div>
					<div class="col-6 mb-3 mt-3">
						{{ form_widget(form.phoneNum, {'attr':
                            {
							'class' : 'form_css',
                            'placeholder' : "Téléphone"
                            }
                        }) 
                    }}
					</div>
				</div>
				<div class="col-6 mb-3">
						{{ form_widget(form.street, {'attr':
                    {
					'class' : 'form_css',
                    'placeholder' : "Addresse"
                    }
                }) 
            }}
				</div>
				<div class="col-6 mb-3">
						{{ form_widget(form.postalcode, {'attr':
                    {
					'class' : 'form_css',
                    'placeholder' : "Code Postal"
                    }
                }) 
            }}
					</div>
					<div class="col-6 mb-3">
						{{ form_widget(form.country, {'attr':
                    {
					'class' : 'form_css',
                    'placeholder' : "Pays"
                    }
                }) 
            }}
					</div>
				
				<button type="submit" class="btn btn-dark btn-block mt-4">
					S'inscrire
				</button>
			</div>
			<div class="mt-4">
				<span class="meta">Vos comptes avez déja un compte ?
				</span>
				<br/>
				<a href="{{path('security_login')}}"  id="text">Connectez-vous</a>
			</div>
			{{ form_end(form) }}
		</div>
	</div>

{% endblock %}