{% extends 'base.html.twig' %}

{% block title %}{% trans %}Réservation{% endtrans %}{% endblock %}

{% block body %}

  <div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="h1-respons">{% trans %}Réservation de matériel{% endtrans %}</h1>
		</div>
	</div>

  <div class="container width-responsive mb-5 mx-auto text-center">
    {% if is_granted('ROLE_FABLAB')%}
    <h3 class="h3-respons">{% trans %}Ajouter des machines{% endtrans %}</h3>
    <br>
    <form action="{{path('add_machine')}}" method="POST" >
      <input class="form_css width-reservation" type="text" placeholder="{% trans %}Entrez le nom de la machine à rajouter{% endtrans %}" name="machine" id="name" required>
      <input type="hidden" name="_csrf_token" value="{{csrf_token('machine')}}">
      <br>
      <input class="btn mt-3" id="button" type="submit" value="{% trans %}Ajouter{% endtrans %}">
    </form>
    {% endif %}
  </div>


  <div class="container width-responsive" style="overflow-x:auto;">
    <table class="table">
      <thead class="thead-dark">
        <tr>
        <th scope="col">#</th>
        <th scope="col">{% trans %}Nom de la machine{% endtrans %}</th>
        <th scope="col">{% trans %}Disponibilité{% endtrans %}</th>
        <th scope="col">{% trans %}Réservation{% endtrans %}</th>
        </tr>
      </thead>
      <tbody>
      {% for machine in machines %}
        <tr>
        <td scope="col">{{machine.id}}</td>
        <td scope="col">{{machine.name}}</td>
        <td scope="col">
          {% if machines is empty%}

            {% trans %}Machine non disponible{% endtrans %}

          {% else %}

            {% trans %}Machine disponible{% endtrans %}

          {% endif %}
        </td>
        <td scope="col">
          <ul>
            <li>
              <div class="dropdown">
                <button class="sbtn btn dropdown-toggle nav-link" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% trans %}Quand souhaitez vous réserver ?{% endtrans %}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" id="button-drop" href="{{path('machine')}}">{% trans %}Matin{% endtrans %}</a>
                  <a class="dropdown-item" id="button-drop" href="{{path('machine')}}">{% trans %}Après-Midi{% endtrans %}</a>
                </div>
              </div>
            </li>
          </ul>
        </td>
        </tr>
      {% endfor %}
      </tbody>

    </table>
  </div>
  
{% endblock %}
