{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Reservations</h1>
<br>
    Reserve:
    <ul class="list-group">
     <li class="list-group-item">
	<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{machines.0.name}}
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{{ url('monday_morning', {id: machines.0.name}) }}">Lundi matin</a>
    <a class="dropdown-item" href="{{ url('monday_afternoon', {id: machines.0.name}) }}">Lundi apres-midi</a>
    <a class="dropdown-item" href="{{ url('tuesday_morning', {id: machines.0.name}) }}">Mardi matin</a>
    <a class="dropdown-item" href="{{ url('tuesday_afternoon', {id: machines.0.name}) }}">Mardi apres-midi</a>
    <a class="dropdown-item" href="{{ url('wednesday_morning', {id: machines.0.name}) }}">Mercredi matin</a>
    <a class="dropdown-item" href="{{ url('wednesday_afternoon', {id: machines.0.name}) }}">Mercredi apres-midi</a>
    <a class="dropdown-item" href="{{ url('thursday_morning', {id: machines.0.name}) }}">Jeudi matin</a>
    <a class="dropdown-item" href="{{ url('thursday_afternoon', {id: machines.0.name}) }}">Jeudi apres-midi</a>
    <a class="dropdown-item" href="{{ url('friday_morning', {id: machines.0.name}) }}">Vendredi Matin</a>
    <a class="dropdown-item" href="{{ url('friday_afternoon', {id: machines.0.name}) }}">Vendredi apres-midi</a>
  </div>
     </li>
     <li class="list-group-item">
	<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{machines.1.name}}
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{{ url('monday_morning', {id: machines.1.name}) }}">Lundi matin</a>
    <a class="dropdown-item" href="{{ url('monday_afternoon', {id: machines.1.name}) }}">Lundi apres-midi</a>
    <a class="dropdown-item" href="{{ url('tuesday_morning', {id: machines.1.name}) }}">Mardi matin</a>
    <a class="dropdown-item" href="{{ url('tuesday_afternoon', {id: machines.1.name}) }}">Mardi apres-midi</a>
    <a class="dropdown-item" href="{{ url('wednesday_morning', {id: machines.1.name}) }}">Mercredi matin</a>
    <a class="dropdown-item" href="{{ url('wednesday_afternoon', {id: machines.1.name}) }}">Mercredi apres-midi</a>
    <a class="dropdown-item" href="{{ url('thursday_morning', {id: machines.1.name}) }}">Jeudi matin</a>
    <a class="dropdown-item" href="{{ url('thursday_afternoon', {id: machines.1.name}) }}">Jeudi apres-midi</a>
    <a class="dropdown-item" href="{{ url('friday_morning', {id: machines.1.name}) }}">Vendredi Matin</a>
    <a class="dropdown-item" href="{{ url('friday_afternoon', {id: machines.1.name}) }}">Vendredi apres-midi</a>
  </div>
     </li>
</ul>
</div>
{% endblock %}
