{% extends 'base.html.twig' %}

{% block title %}{% trans %}Interface FabLab{% endtrans %}
{% endblock %}

    {% block stylesheets %}{% endblock %}

{% block body %}

<div class="jumbotron jumbotron-fluid">
	<div class="container">
				<h1 class="display-4">{% trans %}Ajouter un produit{% endtrans %}</h1>
			</div>
</div>

				{{ form_start(formnp) }}
			<div class="container">	
				<div class="form">
				
					{{ form_errors(formnp) }}
					<div class="row">
						<div class="col-md-8 mb-3 mt-3">
							{{ form_widget(formnp.ProductName, {'attr':
							{
							'class' : 'form_css_contact',
							'placeholder' : 'Nom du produit'|trans
							}
							}) 
						}}
						</div>
						<div class="col-md-8 mb-3 mt-3">
							{{ form_widget(formnp.Description, {'attr':
							{
							'class' : 'form_css_contact',
							'placeholder' : 'Description'|trans
							}
							}) 
						}}
						</div>
						<div class="col-md-8 mb-3">
							{{ form_widget(formnp.Price, {'attr':
							{
							'class' : 'form_css_contact',
							'placeholder' : 'Prix'|trans
							}
							}) 
						}}
						
						</div>
						<div class="col-md-8 mb-3">
							{{ form_widget(formnp.Stock, {'attr':
							{
							'class' : 'form_css_contact',
							'placeholder' : 'Stock'|trans
							}
							}) 
						}}
						</div>
						<div class="col-md-8 mb-3" >
							{{ form_widget(formnp.Image, {'attr':
							{
							'class' : 'form_css_contact mt-2',
							'placeholder' : 'Choisissez votre image'|trans
							}
							}) 
						}}
						</div> 
						<div class="col-12 mb-3 btn-center" >
							{{ form_widget(formnp.Ajouter, {'attr':
							{
							'class' : 'btn btn-lg btn_form_css mt-5',
							}
							}) 
						}}
						</div> 
					</div>
				</div>
			</div>

{{ form_end(formnp) }}





{% endblock %}
	
		