{% extends 'base.html.twig' %}

{% block title %}{% trans %}Interface FabLab{% endtrans %}
{% endblock %}

    {% block stylesheets %}{% endblock %}

{% block body %}
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">{% trans %}Vous pouvez consulter les utilisateurs ici{% endtrans %}</h1>
        </div>
    </div> 
            
        <div class="container">
            <table class="table">
            <thead class="thead-dark">
                <tr>
                <th scope="col">#</th>
                <th scope="col">{% trans %}Nom{% endtrans %}</th>
                <th scope="col">{% trans %}Prénom{% endtrans %}</th>
                <th scope="col">{% trans %}Adresse Email{% endtrans %}</th>
                <th scope="col">{% trans %}Numéro de téléphone{% endtrans %}</th>
                <th scope="col">{% trans %}Adresse{% endtrans %}</th>
                <th scope="col">{% trans %}Actions{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                <th>{{user.id}}</th>
                <td>{{user.LastName}}</td>
                <td>{{user.FirstName}}</td>
                <td>{{user.Email}}</td>
                <td>{{user.phoneNum}}</td>
                <td>{{user.Street}}, {{user.PostalCode}}, {{user.country}}</td>
                <td><a href="{{path('user_delete',{'id' : user.id})}}">Supprimer</a></td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
            
                  





{% endblock %}