{% extends 'base.html.twig' %}

{% block title %}Interface Fab-Lab
{% endblock %}

    {% block stylesheets %}{% endblock %}

{% block body %}
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">Vous pouvez consulter les utilisateurs ici.</h1>
        </div>
    </div> 
            
        <div class="container">
            <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Adresse Email</th>
                <th scope="col">Numér de Téléphone</th>
                <th scope="col">Adresse</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                <th>{{user.id}}</th>
                <td>{{user.LastName}}</td>
                <td>{{user.FirstName}}</td>
                <td>{{user.Email}}</td>
                <td>{{user.phoneNum}}</td>
                <td>{{user.Street}}, {{user.PostalCode}}, {{user.country}}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
            
                  





{% endblock %}