{% extends 'base.html.twig' %}

{% block title %}{% trans %}Interface FabLab{% endtrans %}
{% endblock %}

    {% block stylesheets %}{% endblock %}

{% block body %}

	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">{% trans %}Ajouter un projet{% endtrans %}</h1>
		</div>
	</div>
				{{ form_start(formnp) }}
			<div class="container mx-auto text-center">	
				<div class="form">
				
					{{ form_errors(formnp) }}
					<div class="row">
						<div class="col-12 mb-3 mt-3">
							{{ form_widget(formnp.name, {'attr':
							{
							'class' : 'form_css',
							'placeholder' : 'Nom du produit'|trans
							}
							}) 
						}}
						</div>
						<div class="col-12 mb-3 mt-3">
							{{ form_widget(formnp.description, {'attr':
							{
							'class' : 'form_css',
							'placeholder' : 'Description'|trans
							}
							}) 
						}}
						</div>
						<div class="col-12 mb-3" >
							{{ form_widget(formnp.images, {'attr':
							{
							'class' : 'form_css mt-2',
							'placeholder' : 'Choisissez vos images'|trans,
							}
							}) 
						}}
						
						</div> 
						<div style="text-align:center; width: 100%; margin: 0 auto;">
						
							<span id="msg" style="color:red"></span><br/>
						</div>
						<div class="col-12 mb-3 btn-center" >
							{{ form_widget(formnp.Ajouter, {'attr':
							{
							'class' : 'btn btn-lg btn_form_css mt-5',
							}
							}) 
						}}
						</div> 
					</div>
				</div>
			</div>

{{ form_end(formnp) }}
{% endblock %}




    
	
		