{% extends 'base.html.twig' %}

{% block title %}Interface Fab-Lab
{% endblock %}

    {% block stylesheets %}{% endblock %}

{% block body %}
<div id="all">
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">Vous voulez commander {{items | length}} produits.</h1>
        </div>
    </div>     

    <div style="text-align: center">

    <h4>Est-ce que vos informations sont correctes?</h4>
    
    <p>{{app.user.FirstName}} {{app.user.LastName}} </p>
    <p>{{app.user.Email}}.</p>
    <p>{{app.user.Street}}.</p>
    <p>{{app.user.PostalCode}}, {{app.user.Country}}.</p>
    <a href="{{path('security_account')}}" id="button" class="btn">Modifier mes informations</a>
    <br></br>
    <hr style="height:1px;border:none;color:#333;background-color:#333; width:60%" />
    <br></br>

    <h4>Récapitulatif de votre commande</h4>
    <div style="width:75%; margin: 0 auto">
                    <table class="table">
                            <thead>
                                <th>Produit</th>
                                <th>Prix</th>
                                <th>Quantité</th>
                                <th>Total</th>
                                <th></th>
                            </thead>
                        <tbody>
                            {% for item in items %}
                            <tr>
                                <th>{{item.product.ProductName}}</th>
                                <th>{{item.product.Price}}</th>
                                <th>{{item.quantity}}</th>
                                <th>{{item.product.Price * item.quantity}}€</th>
                                <th>
                                    <a href="{{path('cart_remove', {'id' : item.product.id , 'url':  app.request.attributes.get('_route')  })   }}" class="btn btn-danger btn-sm">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </th>
                            </tr> 
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3" class="text-right">Total : </td>
                                <td>{{total}}€</td>
                                <td>
                                    
                                </td>
                            </tr>
                        </tfoot>
                    </table>
    </div>
    <button href="" id="button" class="btn" onclick="Popup()">Commander</button>
    </div>
    {% set json = itemsJson %}
</div>
    <script type="text/javascript">
        
        

        function Popup(){
            var sure = document.getElementById('sure');
            var all = document.getElementById('all');
            document.getElementById("text").innerHTML = "Etes-vous sur de vouloir commander "+ {{ items | length}} +" produits ? " ;
            document.getElementById("price").innerHTML = "Cela fera "+{{ total}} + "€. " ;
            sure.style.display = "block";
            all.style.pointerEvents = "none";
        }

        function hide_confirm(){
            var sure = document.getElementById('sure');
            var all = document.getElementById('all');
            if (sure.style.display === "block") {
                sure.style.display = "none";
                all.style.pointerEvents = "auto";
                
            }
        }

        



    </script>
    <div class="confirm_div" id="sure" >
        <h2 id="text"></h2>
        <h3 id="price"></h2>
        <div class="confirm_buttons">
            <a href="{{path('order_product')}}" id="button" class="btn" >Confirmer</a>
            <button id="button" class="btn" onclick="hide_confirm()">Annuler</button>
        </div>
    </div>
        
    
{% endblock %}
