{% extends 'base.html.twig' %}

{% block title %}Interface Fab-Lab
{% endblock %}

    {% block stylesheets %}{% endblock %}

{% block body %}
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">{{product.ProductName}}.</h1>
        </div>
    </div>     


    <div class="div_container_shop">

        <img class="div1"src="../images/products/{{product.Image}}" >
        <div class="div2" >
        <h4>{{product.Description}}</h4>
        <br></br>
        <h4>{{product.Stock}} unités restant</h4>
        <br></br>
        <h4>{{product.Price}}€ </h4>
        </div>
        
    </div>




{% endblock %}

