{% extends 'base.html.twig' %}

{% block title %}Interface Fab-Lab
{% endblock %}

    {% block stylesheets %}{% endblock %}

{% block body %}
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4 text-center">{{product.ProductName}}</h1>
        </div>
    </div>     


    <div class="container">
        <div class="row">
            <div class="col">

                <img class="image-product" src="../images/products/{{product.Image}}">

            </div>

            <div class="col" >

                <h4 class="mr-7 mb-7">Prix: {{product.Price}} €</h4>
                
                <br><br>

                <h4 class="mb-7">Stock: </h4>
                <h5>{{product.Stock}} unités restant</h5>

                <br><br>
                
                <h4 class="mb-7">Description:</h4>
                <h5>{{product.Description}}</h5>

                <br>
                <p>Combien voulez-vous en ajouter ?</p>
                <select name="StockOptions" id="stock-select">
                    <option value="">--Choissez une option--</option>
                    {% for i in range(1, product.Stock) %}
                        <option value= {{ i }}> {{ i }}</option>
                    {% endfor %}
                </select>
                <br>
                
                
                <button id="button" class="btn" onclick="add_cart()">Ajouter au panier</button>
                
            </div>
        </div>
        
    {% set Stock =  product.Stock %}
    {% set ProductName =  product.ProductName %}
    {% set Pid =  product.id %}
    {% set Price =  product.Price %}
</div>
    <script type="text/javascript">



        function add_cart(){
        var Stock = "{{Stock}}";
        var url = window.location.href ;
        var quantity = document.getElementById('stock-select').value;    
        if( quantity >= 1 && quantity <= Stock ) {
            var Pid = "{{Pid}}";
            var uri = "{{ app.request.uri }}" ;
            var url = '{{ path("cart_add", {'id': 'id', 'quantity':'quantity'}) }}'; 
            url = url.replace("id", Pid);
            url = url.replace("quantity", quantity);
            window.location.replace(url);

        } else {
            alert("Veuillez selectionnez une valeur correcte.");
        }
        
        }
    </script>    




{% endblock %}

