{% extends 'base.html.twig' %}

{% block title %}Boutique
{% endblock %}

    {% block stylesheets %}{% endblock %}

{% block body %}
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">Bienvenue sur la boutique Solidarity-Bond</h1>
            <p>Voici tous les produits que nous proposons.</p>
        </div>
    </div>     

    <div class="row">

            {% for product in products %}

            <div class="col-lg-4 col-md-6 col-sm-12">

                    <div class="card mt-3 mb-5">
                        <img class="card-img-top" src="../images/products/{{product.Image}}" alt="Photo Produit" style="width:300px;height:300px;margin: 0 auto;">
                    <div class="card-block">
                        <h2 class="card-title-shop">{{product.ProductName}}</h2>
                        <p class="card-text-shop">{{product.Description}}</p>
                        <p class="price card-text" >{{product.price}} €</p>
                        <a href="{{path('show_product', {'id': product.id })}}" id="button" class="btn">En savoir plus</a>
                    </div>
                    </div>

            </div>

            {% endfor %}

    </div>




{% endblock %}