{% extends 'base.html.twig' %}

{% block title %}Interface Fab-Lab
{% endblock %}

    {% block stylesheets %}{% endblock %}

{% block body %}
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">{{product.ProductName}}</h1>
        </div>
    </div>     


    <div class="div_container_shop">

        <img class="div1"src="../images/products/{{product.Image}}" style="width:300px;height:300px;">
        <div class="div2" >
        <h4>{{product.Description}}</h4>
        <br></br>
        <h4>{{product.Stock}} unités restant</h4>
        <br></br>
        <h4 style="float:left; margin-right: 20px ">{{product.Price}}€ </h4>
        <a href="{{path('show_order', {'id': product.id })}}" id="button" class="btn">Commander</a>
        </div>
        
    </div>




{% endblock %}

