{% extends 'base.html.twig' %}

{% block title %}Interface Fab-Lab
{% endblock %}

    {% block stylesheets %}{% endblock %}

{% block body %}
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4 text-center" id="N">{{product.ProductName}}</h1>
            {% if is_granted('ROLE_FABLAB')%}
            <form id="NI" style="display:none" action="{{path('show_product', {'id': product.id })}}" method="post">
            <input value = "{{product.ProductName}}" type="text"  name="NI" />
            </form>
            <div class="acc-edit text-right ">
            <button class="acc-edit-btn" onclick="ShowName();">
            <i  class="fa fa-edit " ></i>
            </button></div>
            {% endif %}
        </div>
    </div>     


    <div class="container">
        
        {% if error is defined %}
        <h5 class="alert alert-danger text-center">Veuillez choisir un format d'image.</h5>
        
        {% endif %}
        
        <div class="row">
            <div class="col">

                <img class="image-product" src="../images/products/{{product.Image}}">
                {% if is_granted('ROLE_FABLAB')%}
				<form id="II" style="display:none" action="{{path('show_product', {'id': product.id })}}" method="post" enctype="multipart/form-data">
                <input type="file" name="II">
                <input type="submit" value="Mettre à jour">
				</form>
				<div class="acc-edit text-right ">
				<button class="acc-edit-btn" onclick="ShowImage();">
				<i  class="fa fa-edit " ></i>
				</button></div>
                {% endif %}
            </div>

            <div class="col" >

                <h4 class="mr-7 mb-7">Prix: </h4>
				<h5  id="P">{{product.Price}}</h5>
                {% if is_granted('ROLE_FABLAB')%}
				<form id="PI" style="display:none" action="{{path('show_product', {'id': product.id })}}" method="post" >
				<input value = "{{product.Price}}" type="text"  name="PI" />
				</form>
                <h4 class="mr-7 mb-7"> €</h4>
				<div class="acc-edit text-right ">
				<button class="acc-edit-btn" onclick="ShowPrice();">
				<i  class="fa fa-edit " ></i>
				</button></div>
                {% endif %}

                <br><br>

                <h4 class="mr-7 mb-7">Stock: </h4>
				<h5  id="S">{{product.Stock}}</h5>
                {% if is_granted('ROLE_FABLAB')%}
				<form id="SI" style="display:none" action="{{path('show_product', {'id': product.id })}}" method="post">
				<input placeholder = "Combien de stock voulez vous rajouter ?" type="text"  name="SI" />
				</form>
                <h4 class="mr-7 mb-7"> unités restants</h4>
				<div class="acc-edit text-right ">
				<button class="acc-edit-btn" onclick="ShowStock();">
				<i  class="fa fa-plus " ></i>
				</button></div>
                {% endif %}
                <br><br>
                
                <h4 class="mb-7">Description:</h4>
				<h5  id="D">{{product.Description}}</h5>
                {% if is_granted('ROLE_FABLAB')%}
				<form id="DI" style="display:none" action="{{path('show_product', {'id': product.id })}}" method="post">
				<input value = "{{product.Description}}" type="text"  name="DI" />
				</form>
				<div class="acc-edit text-right ">
				<button class="acc-edit-btn" onclick="ShowDescription();">
				<i  class="fa fa-edit " ></i>
				</button></div>
                {% endif %}
                <br>
                {% if is_granted('ROLE_FABLAB')%}
                {% else %}
                    
                <h4 class="mb-3">Combien voulez-vous en ajouter ?</h4>
               
                <select class="form_css_option" name="StockOptions" id="stock-select">
                    <option value="">--Choissez une option--</option>
                    {% for i in range(1, product.Stock) %}
                        <option value= {{ i }}> {{ i }}</option>
                    {% endfor %}
                </select>
                <br>
                
                {# <a class="btn mt-4" href="{{path('show_order')}}" onclick="add_card()" id="button">Ajouter au panier</a> #}
                <button id="button" class="btn mt-4" onclick="add_cart()">Ajouter au panier</button>
                {% endif %}
            </div>
        </div>
        

</div>
    <script type="text/javascript">
        function add_cart(){
            var Stock = {{product.Stock}};
            var url = window.location.href ;
            var quantity = document.getElementById('stock-select').value;    
            if( quantity >= 1 && quantity <= Stock ) {
                var uri = "{{ app.request.uri }}" ;
                var url = '{{ path("cart_add", {'id': 'id', 'quantity':'quantity'}) }}'; 
                url = url.replace("id", {{product.id}});
                url = url.replace("quantity", quantity);
                window.location.replace(url);

            } else {
                alert("Veuillez selectionnez une valeur correcte.");
            }        
        }
    </script>    




<script src="{{asset('js/product.js')}}"></script>
{% endblock %}

