{% extends 'base.html.twig' %}

{% block title %}{% trans %}Boutique{% endtrans %}
{% endblock %}

    {% block stylesheets %}{% endblock %}

{% block body %}
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">{% trans %}Boutique{% endtrans %}</h1>
        </div>
    </div>     

    {% if is_granted('ROLE_FABLAB')%}
    <div style="text-align:center">
        <a href="{{path('admin_new_product')}}" class="btn" id="button">{% trans %}Ajouter un produit{% endtrans %}</a>
    </div>
    {% endif %}
    <div class="container">
        <div class="row">

                {% for product in products %}

            <div class="col zoom">
                    <div class="card mt-3 mb-5">
                        <img class="image-product-card img-fluid" data-src="holder.js/100px180/" alt="100%x180" src="../images/products/{{product.Image}}" data-holder-rendered="true">
                        <div class="card-block">
                            <div style="height :70px;">
                            <hr></hr>
                            <h4 class="card-title-shop">{{product.ProductName}}</h4>
                            </div>
                            <hr></hr>
                            <p class="card-text-shop">{{product.Description}}</p>
                            <hr></hr>
                            <p class="card-text mt-2">{% trans %}Prix{% endtrans %} : {{product.Price}} €</p>
                            <hr></hr>
                            <p class="card-text">{% trans %}Stock{% endtrans %} : {{product.Stock}} {% trans %}restant{% endtrans %}</p>
                            <a href="{{path('show_product', {'id': product.id } )}}" class="btn stretched-link" id="button">{% trans %}Page produit{% endtrans %}</a>
                        </div>
                    </div>

            </div>
                {% endfor %}

        </div>
    </div>

{% endblock %}