{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}


	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">Contact</h1>
            <p class="lead">Vous pouvez nous contacter ici</p>
		</div>
	</div>

    <div class="container"
        <form>
        {{ form_start(form) }}
            <div class="form-row">
                <div class="form-group col-md-6">
                {{ form_widget(form.lastname, {'attr':{'class': 'form_css', 'placeholder':'Nom'}}) }}
                </div>
                <div class="form-group col-md-6">
                {{ form_widget(form.firstname, {'attr':{'class': 'form_css', 'placeholder':'Prénom'}}) }}
                </div>
            </div>

            <div class="form-row" >
                <div class="form-group col-md-6">
                {{ form_widget(form.email, {'attr':{'class' : 'form_css', 'placeholder':'Adresse Email'}}) }}
                </div>
                <div class="form-group col-md-6">
                {{ form_widget(form.phone, {'attr':{'class': 'form_css', 'placeholder':'Numéro de téléphone'}}) }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                {{ form_widget(form.message, {'attr':{'class': 'form_css', 'placeholder':'Votre message'}}) }}
                </div>
            </div>
            <button type="submit" class="btn btn-dark btn-lg colored bordered">Envoyer</button>
            {{ form_end(form) }}
        </form>
    </div>

{% endblock %}
