{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}


	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">Contact</h1>
		</div>
	</div>

    <div class="container"
        <form>
        {{ form_start(form) }}

        {% if form_errors(form.firstname) or form_errors(form.lastname) or form_errors(form.email) or form_errors(form.phone) or form_errors(form) %}
				<div class="alert alert-danger text-center" >
				{{ form_errors(form.firstname) }}
				{{ form_errors(form.lastname) }}
				{{ form_errors(form.email) }}
				{{ form_errors(form.phone) }}
				{{ form_errors(form) }}
				</div>
			{% endif %}
            <div class="form-row">
            {{ form_errors(form) }}
                <div class="form-group col-md-8">
                {{ form_widget(form.lastname, {'attr':{'class': 'form_css_contact', 'placeholder':'Nom' |trans}}) }}
                </div>
                <div class="form-group col-md-8">
                {{ form_widget(form.firstname, {'attr':{'class': 'form_css_contact', 'placeholder':'Prénom'|trans}}) }}
                </div>
            </div>

            <div class="form-row" >
                <div class="form-group col-md-8">
                {{ form_widget(form.email, {'attr':{'class' : 'form_css_contact', 'placeholder':'Adresse Email'|trans}}) }}
                </div>
                <div class="form-group col-md-8">
                {{ form_widget(form.phone, {'attr':{'class': 'form_css_contact', 'placeholder':'Numéro de téléphone'|trans}}) }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-8">
                {{ form_widget(form.message, {'attr':{'class': 'form_css_contact', 'placeholder':'Votre message'|trans}}) }}
                </div>
            </div>

            <button type="submit" id="button-contact" class="btn btn-lg bordered mb-10 mt-3">{% trans %}Envoyer{% endtrans %}</button>

            {{ form_end(form) }}
        </form>
    </div>

{% endblock %}
