{% extends 'base.html.twig' %}

{% block title %}{% trans %}Projects{% endtrans %}
{% endblock %}

    {% block stylesheets %}{% endblock %}

{% block body %}
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">{% trans %}Projects{% endtrans %}</h1>
        </div>
    </div>     

    {% if is_granted('ROLE_FABLAB')%}
    <div style="text-align:center">
        <a href="{{path('new_project')}}" class="btn" id="button">{% trans %}Ajouter un projet{% endtrans %}</a>
    </div>
    {% endif %}
    <div class="container">
    
                {% for project in projects %}
                {% set length = project.images | length %}
                <div class="card-pr mt-3 mb-5"  >
                    {% for image in project.images %}
                        <img class="image-product-card img-fluid" data-src="holder.js/100px180/" alt="100%x180" src="../images/project/{{image}}" data-holder-rendered="true">
                    {% endfor %}
                    
                    <div style="">
                    <hr></hr>
                    <h4 class="card-title-shop">{{project.name}}</h4>
                    <hr></hr>
                    <p class="card-text-shop">{{project.description}}</p>
                    <hr></hr>
                    <button class="btn" id="like" onclick="likeButton({{project.id}})"><span id="ll{{project.id}}">{{project.likes | length}}</span> <i id="heart{{project.id}}" class="fa{% if app.user in project.likes %}s{% else %}r{% endif %} fa-heart"></i></button>
                    <button class="btn" id="comment"><span id="cc{{project.id}}">{{project.comments | length}}</span> commentaire{% if project.comments | length <= 1 %}{% else %}s{% endif %} 
                    </button>
                    </div>
                    <div id="comments" style="display:none">
                        <div id="someDiv{{project.id}}">

                        </div>
                    <form id="commentForm" method="post">
				    <textarea id="textarea{{project.id}}" class="form_css_pro-description"  type="text" placeholder="Postez un commentaire..." name="comment" style="border : solid; width: 50%"></textarea>
                    <input id="id" type="hidden" value="{{project.id}}"/>
                    <button id="sub" >Poster</button>
				    </form>
                    
                    </div>

                </div>
                {% endfor %}
    </div>
{% endblock %}
{% block javascripts_footer %}
    {{ parent() }}
    <script>
    $( "#sub" ).one( 'click', function(){
        $("#commentForm").submit(function(e) {
        var id = $("#id").val()
        e.preventDefault(); // avoid to execute the actual submit of the form.
        if(!$("#textarea"+id).val()){
        } else {
            var form = $(this);
            var url = form.attr('action');
            
            $.ajax({
                type: "POST",
                url: '{{path('comment_project')}}',
                data: {comment: $("#textarea"+id).val(), id: id},                
                beforeSend:function(){
                        $('#demo'+id).html('Loading......');
                    },
                success:function(data){
                    $('#cc'+id).html(data.comments);
                    var added = true;
                    show_comment(added);
                    $("#textarea"+id).val("");
                    
                }
            });
        }
        
        });
    });
    
        $( "#comment" ).one( 'click', function(){
            var added = false;
            show_comment(added);
        
    });
    
    function show_comment(added){
            var id = $("#id").val()
            $.ajax({
            type: "POST",
            url: '{{path('show_comments')}}',
            data: {
                id: id,
            }, // serializes the form's elements.
            beforeSend:function(){
                    $('#demo').html('Loading......');
                },
            success:function(data){
                if(Boolean(added)){
                    $( "#someDiv"+id ).append( "<div><hr></hr><p>"+data.authors[data.authors.length - 1]+"</p><p>"+data.comments[data.comments.length - 1]+"</p></div>" );
                } else {
                    $( data.authors ).each(function(key, value) {
                        $( "#someDiv"+id ).append( "<div><hr></hr><p>"+value+"</p><p>"+data.comments[key]+"</p></div>" );
                         
                    }); 
                }                 
                    
                
                },
            });
            $('#comments').css('display', 'block');  

    }

    function likeButton(id) {
        $.ajax({
				url: '{{path('like_project')}}', // point to server-side PHP script 
				method:'POST',
                data:{id:id},
                dataType : 'json',
				beforeSend:function(){
					$('#demo'+id).html('Loading......');
				},
				success:function(data){
                    $('#ll'+id).html(data.likes);
                    if(data.liked == true){
                        $('#heart'+id).removeClass("far fa-heart");
                        $('#heart'+id).addClass("fas fa-heart");
                    } else {
                        $('#heart'+id).removeClass("fas fa-heart");
                        $('#heart'+id).addClass("far fa-heart");
                    }
                }
				});
    }

    </script>
{% endblock %}