{% extends 'base.html.twig' %}

{% block title %}{% trans %}Projects{% endtrans %}
{% endblock %}

    {% block stylesheets %}{% endblock %}

{% block body %}

	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">{% trans %}Projects{% endtrans %}</h1>
        </div>
    </div>     

    {% if is_granted('ROLE_FABLAB')%}
    <div style="text-align:center">
        <a href="{{path('new_project')}}" class="btn" id="button">{% trans %}Ajouter un projet{% endtrans %}</a>
    </div>
    {% endif %}
    <div class="container">
    
                {% for project in projects %}
                <div class="card-pr mt-3 mb-5 " id='card-project{{project.id}}' >
                    {% if is_granted('ROLE_FABLAB') %}
                    <div id="popupDel{{project.id}}" class="delproj text-center mx-auto box-project" style="display:none">
                    <p>{% trans %}Voulez vous vraiment supprimer ce projet ?{% endtrans %}<p>
                    <button class="sbtn btn" id="button" onclick="deleteProject({{project.id}})">{% trans %}Supprimer{% endtrans %}</button>
                    <button class="sbtn btn" id="button" onclick="showDeleteProject({{project.id}})">{% trans %}Annuler{% endtrans %}</button>
                    </div>
                    {% endif %}
                    {% if is_granted('ROLE_FABLAB') %}
                    <div id="popupLoad{{project.id}}" class="upload text-center mx-auto " style="display:none">
                    <p>{% trans %}Choisissez une photo à charger{% endtrans %}<p>
                    <form method="post" enctype="multipart/form-data">
                    <input id="inputPhotos{{project.id}}" type="file" name="files{{project.id}}[]" multiple><br><br>
                    <input  type="hidden" name="id" value="{{project.id}}">
                    <button class="sbtn btn" type="button" id="submit{{project.id}}" onclick="UploadPhoto({{project.id}})">{% trans %}Charger{% endtrans %}</button>
                    <button class="sbtn btn" type="button" id="button" onclick="showUploadPhoto({{project.id}})">{% trans %}Annuler{% endtrans %}</button>
                    </form>
                    </div>
                    
                        
                    {% endif %}
                    <div class="project-relative" id='divProject{{project.id}}'>
                        {% if is_granted('ROLE_FABLAB') %}

                        <div class="btn-group dropleft project-absolute absolute-delete ">
                        <button type="button" class="sbtn btn " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-h"></i>
                        </button>
                        <div class="dropdown-menu " >
                        <button id="delbtn{{project.id}}" class="sbtn btn " onclick="showDeleteProject({{project.id}})">Supprimer le projet</button>
                        <hr></hr>
                        <button id="loadbtn{{project.id}}" class="sbtn btn " onclick="showUploadPhoto({{project.id}})">Charger une photo</button>
                        </div>
                        </div>
                        {% endif %}
                        {% for key,image in project.images %}
                        <div id="img{{key}}{{project.id}}" class="div-image-project" style="display: inline-block;">
                            {% if is_granted('ROLE_FABLAB') %}
                            <button id="delbtnimage{{key}}{{project.id}}" class="sbtn btn del-btn-image project-absolute " onclick="deletePhoto({{key}}, {{project.id}})" style="display: none;top:4%; right:6%"><i class='fas fa-times'></i></button>
                            {% endif %}
                            <img class="image-project-card img-fluid" data-src="holder.js/100px180/" alt="100%x180" src="../images/project/{{image}}" data-holder-rendered="true">
                        </div>
                        {% endfor %}
                        
                    </div>

                    <div>
                    <hr></hr>
                    <h4 class="card-title-shop">{{project.name}}</h4>
                    <hr></hr>
                    <p class="card-text-shop">{{project.description}}</p>
                    <hr></hr>
                    <button class="sbtn btn mb-2 btn-projects" id="like" onclick="{% if is_granted('IS_AUTHENTICATED_FULLY') %}likeButton({{project.id}}){% else %}login(){% endif %}"><span id="ll{{project.id}}">{{project.likes | length}}</span> <i id="heart{{project.id}}" class="fa{% if app.user in project.likes %}s fa-heart text-danger{% else %}r fa-heart{% endif %}"></i></button>
                    <button class="sbtn btn mb-2 btn-projects" id="comment" onclick="show_comment({{project.id}})"><span id="cc{{project.id}}">{{project.comments | length}}</span> {% trans %}commentaire{% endtrans %}{% if project.comments | length <= 1 %}{% else %}s{% endif %} 
                    </button>
                    </div>
                    <div id="comments{{project.id}}" style="display:none">
                        <div id="comDiv{{project.id}}">

                        </div>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <hr></hr>
                    <form id="commentForm" method="post">
                        <textarea id="textarea{{project.id}}" class="form_css_pro-description" type="text" placeholder="Postez un commentaire..." name="comment"></textarea>
                        <input id="id" type="hidden" value="{{project.id}}"/>
                        <button class="sbtn btn btn_form_css mb-4" type="button" id="sub" onclick="{% if is_granted('IS_AUTHENTICATED_FULLY') %}subform({{project.id}}){% else %}login(){% endif %}">Poster</button>
				    </form>
                    {% else %}
                    <hr></hr>
                    <p style="display:inline-block">{% trans %}Si vous souhaitez commenter{% endtrans %}, </p><a href="{{path('security_login')}}"> {% trans %}connectez-vous{% endtrans %}.</a>   
                    {% endif %}
                    </div>

                </div>
                {% endfor %}

                
                

    </div>
{% endblock %}
{% block javascripts_footer %}
    {{ parent() }}
    <script>


    function UploadPhoto(id){
        
        var form_data = new FormData();

        var totalfiles = document.getElementById('inputPhotos'+id).files.length;
        if(totalfiles === 0){
            alert("choisissez au moins une image");
        } else {
            for (var index = 0; index < totalfiles; index++) {
            form_data.append("files"+id+"[]", document.getElementById('inputPhotos'+id).files[index]);
            form_data.append("id", id);
        }


        $.ajax({
            type: "POST",
            url: '{{path('upload_project_photo')}}',
            data: form_data,
            cache: false,
            dataType: 'json',
            contentType: false,
            processData: false,             
            beforeSend:function(){
                    
                },
            success:function(data){
                console.log(data)
                $( data.res ).each(function(key, image) {
                        if(data.res[key] === data.res[data.res.length - 1]){
                           $( "#divProject"+id).append("<div id='img"+key+id+"' class='div-image-project' style='display: inline-block;'>"+{% if is_granted('ROLE_FABLAB') %}"<button id='delbtnimage"+key+id+"' class='sbtn btn del-btn-image project-absolute ' onclick='deletePhoto("+key+", "+id+")' style='display: none;top:4%; right:6%'><i class='fas fa-times'></i></button>"+{% endif %}"<img class='image-project-card img-fluid' data-src='holder.js/100px180/' alt='100%x180' src='../images/project/"+data.res[data.res.length - 1]+"' data-holder-rendered='true'></div>");
                        
                        }
                        showDeletePhotoButton() 
                      });
            }
   });

        }
        
    }      

    
        
 



    function showDeleteCommentButton(cid){

                $("#com"+cid).hover(function(){
                $( "#delcom"+cid).css("display","block");
                }, function(){
                $("#delcom"+cid).css("display", "none");
                });

    }

    {% for project in projects %}
                 $("#card-project"+{{project.id}}).hover(function(){
                 showDeletePhotoButton()    
                });

                $("#card-project"+{{project.id}}).focusout(function() {
                   
                })

    {% endfor %}

  function showDeletePhotoButton() {
    {% for project in projects %}
                {% for key,image in project.images %}
                $("#img{{key}}{{project.id}}").hover(function(){
                $( "#delbtnimage{{key}}{{project.id}}").css("display","block");
                }, function(){
                 $( "#delbtnimage{{key}}{{project.id}}").css("display","none");
                
                });
                {% endfor %}
    {% endfor %}
  }
        

    function deletePhoto(key, pid) {
        $.ajax({
        type: "POST",
        url: '{{path('delete_photo')}}',
        data: {pid: pid, key : key}, 
        success:function(data){
        $( "#img"+key+pid).remove();
        }
    });
    }
    


    function showDeleteProject(id) {
        {% for project in projects %}
        if(id == {{project.id}}){
        var id = document.getElementById("popupDel"+{{project.id}})
        var btn = document.getElementById("delbtn"+{{project.id}})
        if( id.style.display === "none"){
            id.style.display = 'block';
            btn.style.display = 'none';
        } else {
            id.style.display = 'none';
            btn.style.display = 'block';
        }
        }
        {% endfor %}
        
        
        
    }

        function showUploadPhoto(id) {
        {% for project in projects %}
        if(id == {{project.id}}){
        var id = document.getElementById("popupLoad"+{{project.id}})
        var btn = document.getElementById("delbtn"+{{project.id}})
        if( id.style.display === "none"){
            id.style.display = 'block';
            btn.style.display = 'none';
        } else {
            id.style.display = 'none';
            btn.style.display = 'block';
        }
        }
        {% endfor %}
        
        
        
    }

    function deleteProject(id) {
        $.ajax({
        type: "POST",
        url: '{{path('delete_project')}}',
        data: {id: id}, 
        success:function(data){
        $( "#card-project"+id).remove();
        }
    });
    }

    function login(){
    window.location.href="{{path('security_login')}}"
    }
 


        
   
    function subform(id){
        if(!$("#textarea"+id).val()){
        } else {
            $.ajax({
                type: "POST",
                url: '{{path('comment_project')}}',
                data: {comment: $("#textarea"+id).val(), id: id},                
                beforeSend:function(){
                        $('#demo'+id).html('Loading......');
                    },
                success:function(data){
                    $('#cc'+id).html(data.comments);
                    show_comment(id);
                    $("#textarea"+id).val("");
                    
                }
            });
        }
        
    }

    

    function show_comment(id){
        var classheart = "far fa-heart";
        var found = 'false';
            $.ajax({
            type: "POST",
            url: '{{path('show_comments')}}',
            data: {
                id: id,
            }, // serializes the form's elements.
            beforeSend:function(){
                    $('#comDiv'+id).html('{% trans %}Loading......{% endtrans %}');
                },
            success:function(data){
                console.log(data);
                    $( "#comDiv"+id ).append( "<div><hr></hr><p>"+data.authors[data.authors.length - 1]+"</p><p>"+data.comments[data.comments.length - 1]+"</p></div>" );
                    $( "#comDiv"+id ).empty();
                    $( data.authors ).each(function(key, value) {     
                    var myid = {{ app.user ? app.user.id : 'false'}};
                    $( "#comDiv"+id ).append( "<div class='project-relative' id='com"+data.id_comment[key]+"'><hr></hr><p>"+value+"</p><p>"+data.comments[key]+"</p><button class='sbtn btn btn-projects' id='commentlike' onclick='{% if is_granted('IS_AUTHENTICATED_FULLY') %}commentlikeButton("+data.id_comment[key]+"){% else %}login(){% endif %}'><span id='lc"+data.id_comment[key]+"'>"+ data.ln[key]+"</span> <i id='comheart"+data.id_comment[key]+"' class='"+classheart+"'></i></button></div>" );    
                   
                    $( data.cl ).each(function(key2, value2) {
                        if(data.cl[key2] === data.id_comment[key] && data.ulikes[key2] === myid){
                            
                            var found = 'true';
                            $('#comheart'+data.id_comment[key]).removeClass("far fa-heart");                        
                            $('#comheart'+data.id_comment[key]).addClass("fas fa-heart text-danger");
                            
                        } else {
                            alert
                            if(found == 'false'){
                            $('#comheart'+data.id_comment[key]).removeClass("fas fa-heart text-danger");
                            $('#comheart'+data.id_comment[key]).addClass("far fa-heart");  
                            } 
                           

                        }
                      });
                        
                        
                     {% if app.user %}
                        if(data.id_user[key] == {{app.user? app.user.id: false}} || {{is_granted('ROLE_FABLAB')? 'true' : 'false'}}){
                        $( "#com"+data.id_comment[key] ).append( "<button class='sbtn btn btn-projects project-absolute absolute-delete' id='delcom"+ data.id_comment[key]+"' style='display:none' onclick='deleteCom("+ data.id_comment[key]+","+id+")' ><i class='fas fa-times'></i></button> ");
                        }
                    {% endif %}

                        showDeleteCommentButton(data.id_comment[key])
                    }); 
                
                },
            });
            $('#comments'+id).css('display', 'block');  

    }

    function commentlikeButton(id){
        $.ajax({
				url: '{{path('like_comment')}}', // point to server-side PHP script 
				method:'POST',
                data:{id:id},
                dataType : 'json',
				success:function(data){
                    $('#lc'+id).html(data.clikes);
                    if(data.cliked == true){
                        $('#comheart'+id).removeClass("far fa-heart");
                        $('#comheart'+id).addClass("fas fa-heart text-danger");
                    } else {
                        $('#comheart'+id).removeClass("fas fa-heart text-danger");
                        $('#comheart'+id).addClass("far fa-heart");
                    }
                }
				});
    }


    function deleteCom(id, pid) {
    $.ajax({
        type: "POST",
        url: '{{path('delete_comment')}}',
        data: {id: id},                
        beforeSend:function(){
                $('#demo'+id).html('Loading......');
            },
        success:function(data){
            $('#cc'+pid).html(data.comments);
            $( "#com"+id).remove();
            $( "#delcom"+id).remove();
        }
    });
    }
    function likeButton(id) {
        $.ajax({
				url: '{{path('like_project')}}', // point to server-side PHP script 
				method:'POST',
                data:{id:id, },
                dataType : 'json',
				beforeSend:function(){
					$('#demo'+id).html('Loading......');
				},
				success:function(data){
                    $('#ll'+id).html(data.likes);
                    if(data.liked == true){
                        $('#heart'+id).removeClass("far fa-heart");
                        $('#heart'+id).addClass("fas fa-heart text-danger");
                    } else {
                        $('#heart'+id).removeClass("fas fa-heart text-danger");
                        $('#heart'+id).addClass("far fa-heart");
                    }
                }
				});
    }
    </script>
{% endblock %}